div(class="row justify-content-around")
        
    div(class="col-12 list-header")
        h3 
            i(class="fas fa-caret-right")
            | Back-end

    div(class="col-md-5")                
        ul(class="skills-list font-end")
            li 
                div(class="skills-content")
                    span(class="skills-logo")
                        svg 
                            use(xlink:href="#java-logo")
                    span(class="skills-name") Java

                    div(class="skills-desc")
                        ul
                            li Java core 
                            li Stream API, Lambdas, Collections, IO
                            li Java EE


            li 
                div(class="skills-content")
                    span(class="skills-logo")
                        svg 
                            use(xlink:href="#php-logo")
                    span(class="skills-name") PHP

                    div(class="skills-desc")
                        ul
                            li PHP procédural
                            li PHP orienté objet
    
    div(class="col-md-5")
        ul(class="skills-list font-end")
            li 
                div(class="skills-content")
                    span(class="skills-logo")
                        svg
                            use(xlink:href="#spring-logo")
                    
                    span(class="skills-name") Spring Boot

                    div(class="skills-desc")
                        ul
                            li Spring MVC et Spring Boot
                            li Spring Data JPA et Spring Security
                            li Tests unitaires en Junit 5

            li 
                div(class="skills-content")
                    span(class="skills-logo")
                        svg
                            use(xlink:href="#database-logo")
                    
                    span(class="skills-name") Bases de données

                    div(class="skills-desc")
                        ul
                            li MySql et Sql Server
                            li Jointures, sous-requetes, procédures stockées
                            li Liaison de serveurs internes
    