div(class="row justify-content-around")
        
    div(class="col-12 list-header")
        h3 
            i(class="fas fa-caret-right")
            | Front-end

    div(class="col-md-5")                
        ul(class="skills-list font-end") 
            li 
                div(class="skills-content")
                    span(class="skills-logo")
                        svg
                            use(xlink:href="#html-logo")
                    span(class="skills-logo")
                        svg 
                            use(xlink:href="#css-logo")

                    span(class="skills-name") HTML / CSS

                    div(class="skills-desc")
                        ul
                            li Flexbox, Grid et design Responsive
                            li Préprocesseurs et moteurs de template (Sass, Pug)
                            li Frameworks CSS (Bootstrap)
            
            li 
                div(class="skills-content")
                    span(class="skills-logo")
                        svg 
                            use(xlink:href="#js-logo")
                    span(class="skills-name") Javascript

                    div(class="skills-desc")
                        ul
                            li Vanilla Javascript et TypeScript
                            li Nouvelles fonctionnalités ES11
                            li Bibliotèques asynchrones : Fetch API, XHR
    
    div(class="col-md-5")
        ul(class="skills-list font-end")
            li 
                div(class="skills-content")

                    span(class="skills-logo")
                        svg
                            use(xlink:href="#angular-logo")
                    
                    span(class="skills-name") Angular

                    div(class="skills-desc")
                        ul
                            li HTTPs, Routage, Authentification
                            li Bibliotèques asynchrones : RxJS, NGRX
                            li Angular Material

            li 
                div(class="skills-content")

                    span(class="skills-logo")
                        svg 
                            use(xlink:href="#gulp-logo")
  
                    span(class="skills-name") Gulp / NPM

                    div(class="skills-desc")
                        ul
                            li Construire un workflow avec Gulp
                            li Automatiser des taches 
                            li Utiliser le gestionnaire de dépendance NPM