// Theming colors 
$primary-color: #00bcd4
$accent-color: #000000
$warn-color: #000000

// Background colors
$bg-color-3: #231F20


// Theming fonts
$font-color-1: #0F2B46
$font-color-2: #495057
$font-stack: 'Montserrat', sans-serif


// Bootstrap Breaking points
$bp-xs: 0
$bp-sm: 576px
$bp-md: 768px
$bp-lg: 992px
$bp-xl: 1200px

