section(id="resume-about")  
    
    div(class="row justify-content-center")
        
        div(class="col-md-6")
            
            header
                 
                h2 Chihab BERKANE
                                  
                img( 
                    src="dist/assets/image/portrait.jpg", 
                    alt="Me",
                    class="img-thumbnail"
                )

                div(class="typing-area")
                    strong(class="typing-effect")

            div(class="about-area")
                | Concepteur-développeur junior, je me suis forgé une expérience appréciable sur Angular.
                | J'ai également appris des technos telles que Spring Boot lors de mes missions, sur le terrain.
                | 
                | Sensible aux méthodes AGILE et l'organisation au sein d'une équipe IT.
                
