section(id="contact-us")
    div(class="container") 

        h2 Me contacter
    
        div(class="row justify-content-start")
            
            //- Left Side
            div(class="col-lg-5 left-side")

                div(class="row")

                    div(class="col-4 icon")
                        div(class="icon-container")
                            svg
                                use(xlink:href="#map-logo")

                    div(class="col-8 text")
                        p Actuellement à Paris
                        p Mobile en France
                
                div(class="row")

                    div(class="col-4 icon")
                        div(class="icon-container")
                            svg
                                use(xlink:href="#smartphone-logo")

                    div(class="col-8 text")
                        a(href="tel:+33652906321") 06 52 90 63 21

                div(class="row")

                    div(class="col-4 icon")
                        div(class="icon-container")
                            svg
                                use(xlink:href="#mail-logo")

                    div(class="col-8 text")
                        a(href="mailto:chiheb.berkane@gmail.com") chiheb.berkane(at)gmail
            
            
            //- Right Side
            div(class="col-lg-6  right-side")

                form#contact-form
                    
                    div(class="form-field")
                        
                        input(
                            type="text", id="contact-fullname", name="fullname", placeholder="Nom"
                            required
                        )
                        small#fullname-error
                    
                    div(class="form-field")
                        
                        input(
                            type="text", id="contact-email", name="email", placeholder="Email" 
                            pattern="[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)"
                            required
                        )
                        small#email-error

                    textarea(id="contact-message", name="message", cols="30", rows="5" placeholder="Entrez votre message..." required)
                    
                    input#envoyer(type="submit" value="Envoyer")
                    div#loading
                        div.loader
