section(id="contact-us")
    div(class="container") 

        h1 Contact us mofo
    
        div(class="row")
            
            //- Left Side
            div(class="col-lg-6")

                div(class="row")
                    div(class="col-4 icon")
                        p 4
                    div(class="col-8 text")
                        p 8
                
                div(class="row")
                    div(class="col-4 icon")
                        p 4
                    div(class="col-8 text")
                        p 8

                div(class="row")
                    div(class="col-4 icon")
                        p 4
                    div(class="col-8 text")
                        p 8
            
            
            //- Right Side
            div(class="col-lg-6")

                form#contact-form(action="")
                    input(type="text", name="fullname", placeholder="Nom et prénom")
                    input(type="text", name="email", placeholder="Email")
                    textarea(name="message", cols="30", rows="7" placeholder="Entrez votre message...")
                    input#envoyer(type="submit" value="Envoyer")