section(id="contact-us")
    div(class="container") 

        h2 Contact
    
        div(class="row")
            
            //- Left Side
            div(class="col-lg-6")

                div(class="row")
                    div(class="col-4 icon")
                        p 4
                    div(class="col-8 text")
                        p 8
                
                div(class="row")
                    div(class="col-4 icon")
                        p 4
                    div(class="col-8 text")
                        p 8

                div(class="row")
                    div(class="col-4 icon")
                        p 4
                    div(class="col-8 text")
                        p 8
            
            
            //- Right Side
            div(class="col-lg-6")

                form#contact-form
                    
                    div(class="form-field")
                        
                        input(
                            type="text", id="contact-fullname", name="fullname", placeholder="Nom et prénom"
                            required
                        )
                        small#fullname-error
                    
                    div(class="form-field")
                        
                        input(
                            type="text", id="contact-email", name="email", placeholder="Email" 
                            pattern="[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)"
                            required
                        )
                        small#email-error

                    textarea(id="contact-message", name="message", cols="30", rows="5" placeholder="Entrez votre message..." required)
                    
                    input#envoyer(type="submit" value="Envoyer")
                    div#loading
                        div.loader
