section(id="contact-us")
    div(class="container") 

        h1 Contact us mofo
    
        div(class="row")
            
            //- Left Side
            div(class="col-lg-6")

                div(class="row")
                    div(class="col-4 icon")
                        p 4
                    div(class="col-8 text")
                        p 8
                
                div(class="row")
                    div(class="col-4 icon")
                        p 4
                    div(class="col-8 text")
                        p 8

                div(class="row")
                    div(class="col-4 icon")
                        p 4
                    div(class="col-8 text")
                        p 8
            
            
            //- Right Side
            div(class="col-lg-6")

                form#contact-form(action="")
                    
                    div(class="form-field")
                        input(type="text", id="contact-fullname", name="fullname", placeholder="Nom et prénom")
                    
                    div(class="form-field")
                        input(type="text", id="contact-email", name="email", placeholder="Email")
                        small#invalid-email(style="display:none") * Adresse mail invalide

                    textarea(id="contact-message", name="message", cols="30", rows="5" placeholder="Entrez votre message...")
                    
                    input#envoyer(type="submit" value="Envoyer")