footer(id="resume-footer")

    div(class="row justify-content-center")

        div(class="col-md-4 footers-card")
            h3 coordonnées
            
            address  
                p.skip-line
                    i(class="fas fa-phone")
                    a(href="tel:+33652906321") 06 52 90 63 21

                p.skip-line 
                    i(class="fas fa-envelope")
                    a(href="mailto:c.berkane@hotmail.fr") c.berkane@hotmail.fr 

                p   
                    i(class="fa fa-map-marker-alt")
                    |5 rue Laurent Bonnevay 
                p 54100 Nancy
                p Mobile en France

        div(class="col-md-4 footers-card px-5")
            h3 Credits

            p.skip-line.text-center Icones disponibles sur 
                a(href="https://www.flaticon.com/" target="_blank") Flaticon.com 

            p.skip-line.text-center Moteur de templates 
                a(href="https://pugjs.org/" target="_blank") Pug

            p.skip-line.text-center Procéprocesseur de style 
                a(href="https://sass-lang.com/documentation/syntax" target="_blank") SCSS
            
            p.text-center Le reste est également disponibles sur 
                a(href="https://worldvectorlogo.com/" target="_blank") World Vector Logo
