@import '_theming'
@import '_loader'

    
#contact-us
    background: $bg-color-1
    padding: 32px 0

    h2 
        text-align: center
        color: $font-color-1
        font-family: $font-stack
        font-weight: bold
        margin-bottom: 25px

    #contact-form

        .form-field
            margin-bottom: 35px

            input
                display: block
                padding: 6px 12px
                border: none
                border-bottom: 2px solid darken($primary-color, 10)
                width: 50%

                &::placeholder
                    color: $font-color-1
                    font-family: $font-stack

                &:focus
                    outline: none

                    &::placeholder
                        color: transparent

            small
                color: $warn-color

        textarea
            display: block
            border: none
            border-radius: none
            width: 75%
            padding: 6px 12px
            margin-bottom: 25px

            &::placeholder
                color: $font-color-1
                font-family: $font-stack

            &:focus
                outline: none

                &::placeholder
                    color: transparent

        #envoyer
            background-color: $primary-color
            color: #ffffff
            font-weight: 400
            width: 120px
            border: none
            padding: 6px 12px
            margin-left: calc( 37.5% - 60px )

            &:focus
                outline: none

        #loading
            display: none
            position: relative
            background-color: $primary-color
            width: 120px
            padding: 6px 12px
            margin-left: calc( 37.5% - 60px)
            height: 35px
            text-align: center
            color: #ffffff

            .loader
                position: absolute
                top: -5em
                left: calc(50% - 1em)