section(id="resume-about")  
    
    div(class="row justify-content-center")
        
        div(class="col-md-6")
            
            header
                
                h2 Chihab BERKANE
                
                img(
                    src="app/assets/portrait.jpg", 
                    alt="Me",
                    class="img-thumbnail"
                )

                div(class="typing-area") Actuellement intéressé par
                    br
                    strong(class="typing-effect")

            div(
                class="about-area"
            )
                | Développeur curieux, Javascript enthousiate, aussi intéressé par les enjeux front que back.
                | Sensible aux méthodes AGILE et l'organisation au sein d'une équipe IT.
                | Je cherche à enrichir mes compétences d'abord sur plan technique, mais également sur les plan organisationnel et fonctionnel
                | Je cherche également à intégrer une structure de proximité, reconnu pour la qualité de ses produits