section(id="resume-about")  
    
    div(class="row justify-content-center")
        
        div(class="col-md-6")
            
            header
                
                h2 Chihab BERKANE, développeur
                
                img(
                    src="app/assets/portrait.jpg", 
                    alt="Me",
                    class="img-thumbnail"
                )

                div(class="typing-area") Travaille actuellement sur 
                    br
                    strong(class="typing-effect")

            div(
                class="about-area"
            ) J'ai commencé à programmer par curiosité, simplement pour de comprendre le fonctionnement des machines que l'on utilise régulièrement dans notre quotidien. J'ai choisi Javascript pour me lancer. Bien que doté d'une syntaxe élégante et facile à prendre en main, Javascript ne me permettait pas de saisir pleinement les concepts de base de la programmation. C'est ainsi que je me suis tourné vers le C et et le pseudo-langage. Aujourd'hui, je souhaite me perfectionner en développement web et mobile