footer(id="resume-footer" class="row justify-content-around")

    div(class="col-md-4 footers-card")
        h3 coordonnées
        div
            
            a(href="google.com") 
                i(class="fas fa-at") 
                | 06.52.90.63.21
       
            a(href="tel:+") 
                i(class="fas fa-tel") 06.52.90.63.21


    div(class="col-md-4 footers-card")
        h3 Credits
    
    div(class="footers-footer")
        | This webpage was made with Pug, SASS and some Vanilla JS
