footer(id="resume-footer")

    div(class="row justify-content-center")

        div(class="col-md-4 footers-card")
            h3 coordonnées
            address  
                p  
                    i(class="fas fa-phone-alt")
                    | 06 52 90 63 21

                p  
                    i(class="far fa-envelope")
                    | c.berkane@hotmail.fr 
                
                br
                p 
                    i(class="fas fa-location")
                    | 5 rue Laurent Bonnevay 
                p 54100 Nancy
            

        div(class="col-md-4 footers-card")
            h3 Credits
    
    div(class="footers-footer")
        | This webpage was made with Pug, SASS and some Vanilla JS
