section(id="resume-skills" class="row justify-content-center")

    div(class="row justify-content-center")

        div(class="col-md-6")
            header
                h2 Compétences techniques

            ul(class="skills-list")
                
                li 
                    div(class="skills-content")
                        span(class="skills-logo")
                            i(class="fab fa-html5")
                        span(class="skills-logo")
                            i(class="fab fa-css3-alt")
                        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem, rerum quidem, nulla reiciendis officia quas amet sed vero rem deleniti impedit sequi eum id aliquid? Debitis amet possimus laborum exercitationem.
                
                li 
                    div(class="skills-content")
                        span(class="skills-logo")
                            i(class="fab fa-js-square")
                        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem, rerum quidem, nulla reiciendis officia quas amet sed vero rem deleniti impedit sequi eum id aliquid? Debitis amet possimus laborum exercitationem.
                