section(id="resume-skills" class="row justify-content-center")


    div(class="col-md-6")
        header
            h2 Compétences techniques

        h3 
            i(class="fas fa-caret-right")
            | Front-End
        ul(class="skills-list font-end") 
            li 
                div(class="skills-content")
                    span(class="skills-logo")
                        svg
                            use(xlink:href="#html-logo")
                    span(class="skills-logo")
                        svg 
                            use(xlink:href="#css-logo")

                    div(class="skills-desc")
                        ul
                            li HTML basique et sémantique.
                            li Utilisation de template engines type Pug.
                            li CSS Basique, Flexbox.
                            li Préprocesseur SASS.
                            li Bootstrap.
            
            li 
                div(class="skills-content")
                    span(class="skills-logo")
                        svg 
                            use(xlink:href="#js-logo")

                    div(class="skills-desc")
                        ul
                            li Bases en Javascript.
                            li Prototypes, Event Handling, Bubling, Scope and hoisting.
                            li Asynchronous programming.
                            li ES6 features.
            
            li 
                div(class="skills-content")
                    span(class="skills-logo")
                        svg
                            use(xlink:href="#angular-logo")

                    div(class="skills-desc")
                        ul
                            li Les concepts de base en Angular.
                            li Angular Material et Angular CLI.
                            li RxJS et les Observables.

        
        h3 
            i(class="fas fa-caret-right")
            | Back-End    
        ul(class="skills-list back-end")
            li 
                div(class="skills-content")
                    span(class="skills-logo")
                        svg
                            use(xlink:href="#php-logo")

                    div(class="skills-desc")
                        ul
                            li Maitrise des notions de base en PHP.
                            li PHP Orienté Objet et design patterns.
                            li Bonnes pratiques de sécurité et usage de normes PSR.
            
            li 
                div(class="skills-content")
                    span(class="skills-logo")
                        svg
                            use(xlink:href="#mysql-logo")

                    div(class="skills-desc")
                        ul
                            li Maitrise des notions de base du langage SQL.
                            li Fonctions scalaires et fonctions d'agrégation.
                            li Indexes, jointures et sous-requêtes.
            
            li 
                div(class="skills-content")
                    span(class="skills-logo")
                        svg(class="ml-2")
                            use(xlink:href="#symfony-logo")

                    div(class="skills-desc")
                        ul
                            li Bonne compéhension des bases du framework Symfony 4.
                            li Utilisation du modèle MVC.
                            li Utilisation de composantes : Twig, Doctrine, Security Bundle.
                            li Utilisation de bundles externes.
                            li Composer CLI.
            
        
        h3 
            i(class="fas fa-caret-right")
            | Dev Tools
        ul(class="skills-list dev-tools")
            li 
                div(class="skills-content")
                    span(class="skills-logo")
                        svg
                            use(xlink:href="#ubuntu-logo")
                    
                    div(class="skills-desc")
                        ul
                            li Utilisation basique de la version 18 LTS.
                            li Utilisation basique du terminal.
                            li Vim et script shells : utilisation basiques.
                            li Notions en SSH.
            
            li 
                div(class="skills-content")
                    span(class="skills-logo")
                        svg
                            use(xlink:href="#git-logo")

                    div(class="skills-desc")
                        ul
                            li Utilisation basique pour gérer un projet personnel.
                            li Compréhension du système des branches.
                            li Effectuer des pull-request.
            li 
                div(class="skills-content")
                    span(class="skills-logo")
                        svg
                            use(xlink:href="#vscode-logo")
                    
                    div(class="skills-desc")
                        ul
                            li Utilisation basique et usage de la console intégrée.
                            li Configuration et extensions pour améliorer la productivité.
                            li Debugging.


        h3 
            i(class="fas fa-caret-right")
            | Soft Skills
        ul(class="skills-list dev-tools")
            li 
                div(class="skills-content")
                    span(class="skills-logo")
                        svg.invert.fill-brain
                            use(xlink:href="#brain-1-logo")
                    
                    div(class="skills-desc")
                        h4 Curieux
                        p Explorateur, je cherche toujours à savoir le pourquoi du comment. Vouloir démystifier des principes à priori complexes me permet de mieux le assimiler et donc de progresser en développement. 
            li 
                div(class="skills-content")
                    span(class="skills-logo")
                        svg(class="fill-progress")
                            use(xlink:href="#comm-logo")

                    div(class="skills-desc")
                        h4 Pédagogue
                        p Je sais faire preuve de pédagogie. Je fais constamment des efforts sur ma manière de communiquer : j'essaie de m'exprimer de façon claire et limpide.