section(id="resume-skills" class="row justify-content-center")

    div(class="row justify-content-center")

        div(class="col-md-6")
            header
                h2 Compétences techniques

            h3 Front-End
            ul(class="skills-list font-end") 
                li 
                    div(class="skills-content")
                        span(class="skills-logo")
                            svg
                                use(xlink:href="#html-logo")
                        span(class="skills-logo")
                            svg 
                                use(xlink:href="#css-logo")
                        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem, rerum quidem, nulla reiciendis officia quas amet sed vero rem deleniti impedit sequi eum id aliquid? Debitis amet possimus laborum exercitationem.
                
                li 
                    div(class="skills-content")
                        span(class="skills-logo")
                            svg 
                                use(xlink:href="#js-logo")
                        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem, rerum quidem, nulla reiciendis officia quas amet sed vero rem deleniti impedit sequi eum id aliquid? Debitis amet possimus laborum exercitationem.
                
                li 
                    div(class="skills-content")
                        span(class="skills-logo")
                            svg
                                use(xlink:href="#angular-logo")
                        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem, rerum quidem, nulla reiciendis officia quas amet sed vero rem deleniti impedit sequi eum id aliquid? Debitis amet possimus laborum exercitationem.

            h3 Back-End    
            ul(class="skills-list back-end")
                li 
                    div(class="skills-content")
                        span(class="skills-logo")
                            svg
                                use(xlink:href="#php-logo")
                        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem, rerum quidem, nulla reiciendis officia quas amet sed vero rem deleniti impedit sequi eum id aliquid? Debitis amet possimus laborum exercitationem.
                
                li 
                    div(class="skills-content")
                        span(class="skills-logo")
                            svg
                                use(xlink:href="#mysql-logo")
                        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem, rerum quidem, nulla reiciendis officia quas amet sed vero rem deleniti impedit sequi eum id aliquid? Debitis amet possimus laborum exercitationem.
                
                li 
                    div(class="skills-content")
                        span(class="skills-logo")
                            svg 
                                use(xlink:href="#symfony-logo")
                        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem, rerum quidem, nulla reiciendis officia quas amet sed vero rem deleniti impedit sequi eum id aliquid? Debitis amet possimus laborum exercitationem.

            h3 Dev Tools
            ul(class="skills-list dev-tools")
                li 
                    div(class="skills-content")
                        span(class="skills-logo")
                            svg
                                use(xlink:href="#ubuntu-logo")
                        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem, rerum quidem, nulla reiciendis officia quas amet sed vero rem deleniti impedit sequi eum id aliquid? Debitis amet possimus laborum exercitationem.
                
                li 
                    div(class="skills-content")
                        span(class="skills-logo")
                            svg
                                use(xlink:href="#git-logo")
                        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem, rerum quidem, nulla reiciendis officia quas amet sed vero rem deleniti impedit sequi eum id aliquid? Debitis amet possimus laborum exercitationem.
                
                li 
                    div(class="skills-content")
                        span(class="skills-logo")
                            svg
                                use(xlink:href="#vscode-logo")
                        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem, rerum quidem, nulla reiciendis officia quas amet sed vero rem deleniti impedit sequi eum id aliquid? Debitis amet possimus laborum exercitationem.
                