//- Github
svg(hidden xmlns='http://www.w3.org/2000/svg')
  symbol(id="github-logo", viewBox='0 0 512 512' )
    path(d='m512 257c0 120-84.101562 220.5-196 247.5l-30.601562-97.199219h-58.796876l-29.601562 97.199219c-111.898438-27-197-127.5-197-247.5 0-140.699219 115.300781-257 256-257s256 116.300781 256 257zm0 0', fill='#384949')
    path(d='m512 257c0 120-84.101562 220.5-196 247.5l-30.601562-97.199219h-29.398438v-407.300781c140.699219 0 256 116.300781 256 257zm0 0', fill='#293939')
    path(d='m181.277344 430.058594c-6.078125 0-12.011719-.867188-17.828125-2.578125-15.128907-4.46875-27.421875-14.546875-36.546875-29.914063-4.160156-7.015625-8.496094-11.878906-13.605469-15.308594-5.027344-3.382812-9.039063-4.671874-13.273437-4.363281l-2.636719-29.882812c11.117187-.953125 21.753906 2.0625 32.59375 9.316406 8.832031 5.902344 16.257812 14.0625 22.71875 24.914063 5.304687 8.921874 11.410156 14.152343 19.25 16.46875 8.804687 2.589843 17.941406 1.507812 29.632812-3.472657l11.808594 27.566407c-11.296875 4.835937-21.929687 7.253906-32.113281 7.253906zm0 0', fill='#ececf1')
    path(d='m400.902344 287.300781c-10.503906 27.898438-36.902344 63.300781-103.800782 73.199219 8.699219 12.898438 19.199219 19.800781 18.898438 46.800781v97.199219c-19.199219 4.800781-39.300781 7.5-60 7.5s-39.800781-2.699219-59-7.5v-98.402344c0-26.699218 10.101562-34.199218 17.898438-45.597656-66.898438-9.902344-93.296876-45.300781-103.800782-73.199219-14.097656-37.203125-6.597656-83.402343 18.003906-112.800781.597657-.601562 1.5-2.101562 1.199219-3-11.402343-34.199219 2.398438-62.699219 3-65.699219 12.898438 3.898438 15-3.902343 56.699219 21.597657l7.199219 4.203124c3 1.796876 2.101562.597657 5.101562.597657 17.398438-4.800781 35.699219-7.5 53.699219-7.5 18.300781 0 36.300781 2.699219 54.597656 7.5l2.101563.300781s.597656 0 2.101562-.898438c51.898438-31.503906 50.097657-21.300781 64.195313-25.800781.300781 3 14.101562 31.796875 2.703125 65.699219-1.5 4.5 45 47.097656 19.203125 115.800781zm0 0', fill='#ececf1')
    path(d='m400.902344 287.300781c-10.503906 27.898438-36.902344 63.300781-103.800782 73.199219 8.699219 12.898438 19.199219 19.800781 18.898438 46.800781v97.199219c-19.199219 4.800781-39.300781 7.5-60 7.5v-387.300781c18.300781 0 36.300781 2.699219 54.601562 7.5l2.097657.300781s.601562 0 2.101562-.898438c51.898438-31.503906 50.097657-21.300781 64.199219-25.800781.300781 3 14.101562 31.796875 2.699219 65.699219-1.5 4.5 45 47.097656 19.203125 115.800781zm0 0', fill='#e2e2e7')



//- HTML
svg(hidden version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', style='enable-background:new 0 0 434.147 434.147;', xml:space='preserve')
  symbol(id="html-logo", viewBox='0 0 434.147 434.147')
    path(style='fill:#FC490B;', d='M27.336,14.372l28.177,360.474c0.423,5.413,4.087,10.029,9.263,11.67l148.268,47.008  c2.622,0.831,5.437,0.831,8.059,0l148.268-47.008c5.176-1.641,8.84-6.257,9.263-11.67l28.177-360.474  C407.417,6.622,401.292,0,393.519,0H40.629C32.856,0,26.731,6.622,27.336,14.372z M334.553,126.215H150.918l5.542,51.105h174.099  L319.17,323.013l-102.096,32.369l-102.096-32.369l-5.95-76.116h53.588v37.336l55.89,15l55.556-15l4.31-59.503H107.295L95.937,79.419  H338.21L334.553,126.215z')
    



//- CSS
svg(hidden version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', style='enable-background:new 0 0 512 512;', xml:space='preserve')
  symbol(id="css-logo", viewBox='0 0 512 512')
    polygon(style='fill:#2196F3;', points='32,0 72.8,460.8 256,512 439.136,460.832 480,0 ')
    polygon(style='fill:#FAFAFA;', points='392.768,150.688 387.616,208.576 372.064,382.112 256,414.208 255.904,414.24   139.904,382.112 131.808,291.36 188.64,291.36 192.864,338.432 255.936,355.456 255.968,355.424 319.136,338.4 327.744,259.968   129.088,260.512 123.456,206.88 332.512,204.416 336.736,147.008 117.856,147.616 114.176,94.208 256,94.208 397.824,94.208 ')
    



//- Javascript
svg(hidden xmlns='http://www.w3.org/2000/svg')
  symbol(id="js-logo" viewBox='0 0 630 630')
    rect(width='630', height='630', fill='#f7df1e')
    path(d='m423.2 492.19c12.69 20.72 29.2 35.95 58.4 35.95 24.53 0 40.2-12.26 40.2-29.2 0-20.3-16.1-27.49-43.1-39.3l-14.8-6.35c-42.72-18.2-71.1-41-71.1-89.2 0-44.4 33.83-78.2 86.7-78.2 37.64 0 64.7 13.1 84.2 47.4l-46.1 29.6c-10.15-18.2-21.1-25.37-38.1-25.37-17.34 0-28.33 11-28.33 25.37 0 17.76 11 24.95 36.4 35.95l14.8 6.34c50.3 21.57 78.7 43.56 78.7 93 0 53.3-41.87 82.5-98.1 82.5-54.98 0-90.5-26.2-107.88-60.54zm-209.13 5.13c9.3 16.5 17.76 30.45 38.1 30.45 19.45 0 31.72-7.61 31.72-37.2v-201.3h59.2v202.1c0 61.3-35.94 89.2-88.4 89.2-47.4 0-74.85-24.53-88.81-54.075z')




//- Angular
svg(hidden xmlns='http://www.w3.org/2000/svg', preserveAspectRatio='xMidYMid')
  symbol(id="angular-logo", viewBox='0 0 256 272' )
    path(d='M.1 45.522L125.908.697l129.196 44.028-20.919 166.45-108.277 59.966-106.583-59.169L.1 45.522z', fill='#E23237')
    path(d='M255.104 44.725L125.908.697v270.444l108.277-59.866 20.919-166.55z', fill='#B52E31')
    path(d='M126.107 32.274L47.714 206.693l29.285-.498 15.739-39.347h70.325l17.233 39.845 27.99.498-82.179-174.917zm.2 55.882l26.496 55.383h-49.806l23.31-55.383z', fill='#FFF')


//- PHP
svg(hidden version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', style='enable-background:new 0 0 512 512;', xml:space='preserve')
  symbol(id="php-logo" viewbox='0 0 512 512')
    path(style='fill:#8F9ED1;', d='M512,256c0,15.485-1.379,30.647-4.012,45.369C486.578,421.115,381.9,512,256,512\
    c-94.856,0-177.664-51.587-221.884-128.24c-10.794-18.693-19.278-38.87-25.088-60.155C3.135,302.07,0,279.395,0,256\
    C0,114.615,114.615,0,256,0c116.694,0,215.144,78.075,245.979,184.842C508.5,207.433,512,231.309,512,256z')
    g
      path(style='fill:#F2F2F2;', d='M130.173,178.239H35.892L9.028,323.605c5.81,21.285,14.294,41.462,25.088,60.155h8.746\
      l10.407-56.299h51.806c63.08,0,80.039-56.633,84.104-84.449C193.254,215.207,172.91,178.239,130.173,178.239z M143.851,247.703\
      c-2.309,15.768-13.96,47.877-49.716,47.877H59.162l15.632-84.605h35.6C145.095,210.975,146.16,231.936,143.851,247.703z')
      
      path(style='fill:#F2F2F2;', d='M501.979,184.842c-8.014-4.138-17.565-6.604-28.599-6.604h-94.281L341.117,383.76h44.951\
      l10.407-56.299h51.806c28.056,0,46.989-11.201,59.705-26.091C510.621,286.647,512,271.485,512,256\
      C512,231.309,508.5,207.433,501.979,184.842z M487.058,247.703c-2.309,15.768-13.96,47.877-49.727,47.877h-34.962l15.632-84.605\
      h35.6C488.302,210.975,489.367,231.936,487.058,247.703z')
      
      path(style='fill:#F2F2F2;', d='M309.238,178.919c-18.295,0-42.704,0-54.597,0l10.248-55.451h-44.766L182.14,328.984h44.766\
      l21.843-118.186c8.07,0,18.79,0,28.61,0c18.991,0,31.879,4.07,29.165,21.705c-2.713,17.635-18.313,95.636-18.313,95.636h45.444\
      c0,0,17.635-86.818,20.348-111.237C356.717,192.484,334.334,178.919,309.238,178.919z')




//- Mysql
svg(hidden xmlns='http://www.w3.org/2000/svg')
  symbol(id='mysql-logo' , viewBox='-18.458 6.58 191.151 132.49')
    path(d='M-18.458 6.58h191.151v132.49H-18.458V6.58z', fill='none')
    path(d='M40.054 113.583h-5.175c-.183-8.735-.687-16.947-1.511-24.642h-.046l-7.879 24.642h-3.94l-7.832-24.642h-.045c-.581 7.388-.947 15.602-1.099 24.642H7.81c.304-10.993 1.068-21.299 2.289-30.919h6.414l7.465 22.719h.046l7.511-22.719h6.137c1.344 11.268 2.138 21.575 2.382 30.919M62.497 90.771c-2.107 11.434-4.887 19.742-8.337 24.928-2.688 3.992-5.633 5.99-8.84 5.99-.855 0-1.91-.258-3.16-.77v-2.757c.611.088 1.328.138 2.152.138 1.498 0 2.702-.412 3.62-1.238 1.098-1.006 1.647-2.137 1.647-3.388 0-.858-.428-2.612-1.282-5.268L42.618 90.77h5.084l4.076 13.19c.916 2.995 1.298 5.086 1.145 6.277 2.229-5.953 3.786-12.444 4.673-19.468h4.901v.002z', fill='#5d87a1')
    path(d='M131.382 113.583h-14.7V82.664h4.945v27.113h9.755v3.806zM112.834 114.33l-5.684-2.805c.504-.414.986-.862 1.42-1.381 2.416-2.838 3.621-7.035 3.621-12.594 0-10.229-4.014-15.346-12.045-15.346-3.938 0-7.01 1.298-9.207 3.895-2.414 2.84-3.619 7.022-3.619 12.551 0 5.435 1.068 9.422 3.205 11.951 1.955 2.291 4.902 3.438 8.843 3.438 1.47 0 2.819-.18 4.048-.543l7.4 4.308 2.018-3.474zm-18.413-6.934c-1.252-2.014-1.878-5.248-1.878-9.707 0-7.785 2.365-11.682 7.1-11.682 2.475 0 4.289.932 5.449 2.792 1.25 2.017 1.879 5.222 1.879 9.619 0 7.849-2.367 11.774-7.099 11.774-2.476.001-4.29-.928-5.451-2.796M85.165 105.013c0 2.622-.962 4.773-2.884 6.458-1.924 1.678-4.504 2.519-7.737 2.519-3.024 0-5.956-.966-8.794-2.888l1.329-2.655c2.442 1.223 4.653 1.831 6.638 1.831 1.863 0 3.319-.413 4.375-1.232 1.055-.822 1.684-1.975 1.684-3.433 0-1.837-1.281-3.407-3.631-4.722-2.167-1.19-6.501-3.678-6.501-3.678-2.349-1.712-3.525-3.55-3.525-6.578 0-2.506.877-4.529 2.632-6.068 1.757-1.545 4.024-2.315 6.803-2.315 2.87 0 5.479.769 7.829 2.291l-1.192 2.656c-2.01-.854-3.994-1.281-5.951-1.281-1.585 0-2.809.381-3.66 1.146-.858.762-1.387 1.737-1.387 2.933 0 1.828 1.308 3.418 3.722 4.759 2.196 1.192 6.638 3.723 6.638 3.723 2.409 1.709 3.612 3.53 3.612 6.534', fill='#f8981d')
    path(d='M137.59 72.308c-2.99-.076-5.305.225-7.248 1.047-.561.224-1.453.224-1.531.933.303.3.338.784.601 1.198.448.747 1.229 1.752 1.942 2.276.783.6 1.569 1.194 2.393 1.717 1.453.899 3.1 1.422 4.516 2.318.825.521 1.645 1.195 2.471 1.756.406.299.666.784 1.193.971v-.114c-.264-.336-.339-.822-.598-1.196l-1.122-1.082c-1.084-1.456-2.431-2.727-3.884-3.771-1.196-.824-3.812-1.944-4.297-3.322l-.076-.076c.822-.077 1.797-.375 2.578-.604 1.271-.335 2.43-.259 3.734-.594.6-.15 1.195-.338 1.797-.523v-.337c-.676-.673-1.158-1.567-1.869-2.203-1.902-1.643-3.998-3.25-6.164-4.595-1.16-.749-2.652-1.231-3.887-1.868-.445-.225-1.195-.336-1.457-.71-.67-.822-1.047-1.904-1.533-2.877-1.08-2.053-2.129-4.331-3.061-6.502-.674-1.456-1.084-2.91-1.906-4.257-3.85-6.35-8.031-10.196-14.457-13.971-1.381-.786-3.024-1.121-4.779-1.533l-2.803-.148c-.598-.262-1.197-.973-1.719-1.309-2.132-1.344-7.621-4.257-9.189-.411-1.01 2.431 1.494 4.821 2.354 6.054.635.856 1.458 1.83 1.902 2.802.263.635.337 1.309.6 1.98.598 1.644 1.157 3.473 1.943 5.007.41.782.857 1.604 1.381 2.312.3.414.822.597.936 1.272-.521.744-.562 1.867-.861 2.801-1.344 4.221-.819 9.45 1.086 12.552.596.934 2.018 2.99 3.92 2.202 1.684-.672 1.311-2.801 1.795-4.668.111-.451.038-.747.262-1.043v.073c.521 1.045 1.047 2.052 1.53 3.1 1.159 1.829 3.177 3.735 4.858 5.002.895.676 1.604 1.832 2.725 2.245V74.1h-.074c-.227-.335-.559-.485-.857-.745-.674-.673-1.42-1.495-1.943-2.241-1.566-2.093-2.952-4.41-4.182-6.801-.602-1.16-1.121-2.428-1.606-3.586-.226-.447-.226-1.121-.601-1.346-.562.821-1.381 1.532-1.791 2.538-.711 1.609-.785 3.588-1.049 5.646l-.147.072c-1.19-.299-1.604-1.53-2.056-2.575-1.119-2.654-1.307-6.914-.336-9.976.26-.783 1.385-3.249.936-3.995-.225-.715-.973-1.122-1.383-1.685-.482-.708-1.01-1.604-1.346-2.39-.896-2.091-1.347-4.408-2.312-6.498-.451-.974-1.234-1.982-1.868-2.879-.712-1.008-1.495-1.718-2.058-2.913-.186-.411-.447-1.083-.148-1.53.073-.3.225-.412.523-.487.484-.409 1.867.111 2.352.336 1.385.56 2.543 1.083 3.699 1.867.523.375 1.084 1.085 1.755 1.272h.786c1.193.26 2.538.072 3.661.41 1.979.636 3.772 1.569 5.38 2.576 4.893 3.103 8.928 7.512 11.652 12.778.447.858.637 1.644 1.045 2.539.787 1.832 1.76 3.7 2.541 5.493.785 1.755 1.533 3.547 2.654 5.005.559.784 2.805 1.195 3.812 1.606.745.335 1.905.633 2.577 1.044 1.271.783 2.537 1.682 3.732 2.543.595.448 2.465 1.382 2.576 2.13M99.484 39.844a5.82 5.82 0 0 0-1.529.188v.075h.072c.301.597.824 1.011 1.197 1.532.301.599.562 1.193.857 1.791l.072-.074c.527-.373.789-.971.789-1.868-.227-.264-.262-.522-.451-.784-.22-.374-.705-.56-1.007-.86', fill='#5d87a1')
    path(d='M141.148 113.578h.774v-3.788h-1.161l-.947 2.585-1.029-2.585h-1.118v3.788h.731v-2.882h.041l1.078 2.882h.557l1.074-2.882v2.882zm-6.235 0h.819v-3.146h1.072v-.643h-3.008v.643h1.115l.002 3.146z', fill='#f8981d')




//- Symfony
svg(hidden xmlns:dc='http://purl.org/dc/elements/1.1/', xmlns:cc='http://creativecommons.org/ns#', xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns#', xmlns:svg='http://www.w3.org/2000/svg', xmlns='http://www.w3.org/2000/svg', xmlns:sodipodi='http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd', xmlns:inkscape='http://www.inkscape.org/namespaces/inkscape', version='1.1', x='0px', y='0px', enable-background='new 0 0 289.333 122.833', xml:space='preserve', inkscape:version='0.91 r', sodipodi:docname='Symfony2.svg')
  symbol(id="symfony-logo", viewBox='0 0 235.141 66.143997')
    metadata#metadata40
      rdf:rdf
        cc:work(rdf:about='')
          dc:format image/svg+xml
          dc:type(rdf:resource='http://purl.org/dc/dcmitype/StillImage')
          dc:title
    defs#defs38
    sodipodi:namedview#namedview36(pagecolor='#ffffff', bordercolor='#666666', borderopacity='1', objecttolerance='10', gridtolerance='10', guidetolerance='10', inkscape:pageopacity='0', inkscape:pageshadow='2', inkscape:window-width='1366', inkscape:window-height='718', showgrid='false', fit-margin-top='5', fit-margin-right='5', fit-margin-bottom='5', fit-margin-left='5', inkscape:zoom='2.1290347', inkscape:cx='99.083448', inkscape:cy='34.037085', inkscape:window-x='0', inkscape:window-y='0', inkscape:window-maximized='1', inkscape:current-layer='svg2')
    g#fond(transform='translate(-25.585001,-24.997999)')
    g#compacte(transform='translate(-25.585001,-24.997999)')
    g#rectangle(transform='translate(-25.585001,-24.997999)')
    g#g10(transform='translate(-25.585001,-24.997999)')
      g#g12
        circle#circle14(r='28.072001', cy='58.07', cx='58.657001')
        path#path16(style='fill:#ffffff', inkscape:connector-curvature='0', d='m 70.93,40.385 c -2.851,0.1 -5.342,1.672 -7.193,3.846 -2.053,2.384 -3.417,5.213 -4.401,8.099 -1.759,-1.442 -3.116,-3.308 -5.938,-4.122 -2.183,-0.627 -4.473,-0.369 -6.58,1.201 -0.999,0.746 -1.686,1.873 -2.013,2.932 -0.848,2.754 0.889,5.205 1.679,6.086 l 1.725,1.846 c 0.356,0.363 1.211,1.309 0.794,2.664 -0.453,1.475 -2.229,2.428 -4.052,1.867 -0.814,-0.252 -1.984,-0.857 -1.721,-1.709 0.108,-0.35 0.358,-0.613 0.493,-0.912 0.123,-0.26 0.181,-0.454 0.218,-0.568 0.333,-1.088 -0.122,-2.502 -1.286,-2.861 -1.087,-0.332 -2.197,-0.068 -2.628,1.329 -0.49,1.591 0.271,4.472 4.344,5.729 4.772,1.467 8.809,-1.133 9.381,-4.521 0.361,-2.122 -0.599,-3.7 -2.354,-5.729 l -1.43,-1.581 c -0.867,-0.867 -1.164,-2.342 -0.268,-3.475 0.757,-0.957 1.834,-1.365 3.601,-0.886 2.577,0.698 3.726,2.487 5.642,3.93 -0.791,2.595 -1.309,5.2 -1.776,7.538 l -0.287,1.74 c -1.371,7.186 -2.416,11.131 -5.134,13.396 -0.547,0.391 -1.331,0.973 -2.51,1.014 -0.619,0.02 -0.818,-0.406 -0.828,-0.592 -0.014,-0.434 0.353,-0.633 0.596,-0.828 0.363,-0.199 0.912,-0.527 0.875,-1.578 -0.041,-1.246 -1.071,-2.324 -2.559,-2.273 -1.117,0.037 -2.816,1.086 -2.752,3.01 0.066,1.984 1.916,3.473 4.706,3.377 1.492,-0.049 4.822,-0.656 8.103,-4.557 3.819,-4.473 4.888,-9.6 5.692,-13.352 l 0.896,-4.953 c 0.499,0.059 1.031,0.1 1.611,0.113 4.757,0.102 7.136,-2.363 7.173,-4.155 0.023,-1.085 -0.712,-2.152 -1.742,-2.128 -0.736,0.021 -1.662,0.511 -1.884,1.529 -0.217,1 1.514,1.902 0.161,2.779 -0.961,0.623 -2.684,1.061 -5.11,0.705 l 0.442,-2.439 c 0.899,-4.624 2.011,-10.312 6.224,-10.449 0.307,-0.016 1.431,0.014 1.457,0.756 0.007,0.248 -0.054,0.312 -0.344,0.88 -0.297,0.442 -0.408,0.819 -0.395,1.253 0.042,1.18 0.939,1.956 2.238,1.91 1.737,-0.057 2.237,-1.748 2.209,-2.618 -0.072,-2.045 -2.226,-3.335 -5.075,-3.243 z')
      g#g18
        g#g20
          path#path22(inkscape:connector-curvature='0', d='m 200.791,50.172 c 6.474,0 10.813,4.677 10.813,11.147 0,6.097 -4.424,11.146 -10.813,11.146 -6.428,0 -10.852,-5.049 -10.852,-11.146 0,-6.47 4.338,-11.147 10.852,-11.147 z m 0,19.125 c 4.593,0 6.637,-4.176 6.637,-7.978 0,-4.048 -2.463,-7.972 -6.637,-7.972 -4.216,0 -6.68,3.924 -6.68,7.972 0,3.802 2.047,7.978 6.68,7.978 z')
        path#path24(inkscape:connector-curvature='0', d='m 189.401,52.154 0,-1.481 -5.638,0 0,-2.024 c 0,-2.881 0.419,-5.055 3.798,-5.055 0.062,0 0.128,0.006 0.193,0.009 0.007,0 0.005,-0.011 0.013,-0.011 0.938,0.068 1.72,-0.695 1.772,-1.633 l 0.068,-1.286 c -0.793,-0.126 -1.63,-0.25 -2.63,-0.25 -5.803,0 -7.138,3.382 -7.138,8.56 l 0,1.69 -5.015,0 0,1.653 c 0.129,0.857 0.863,1.518 1.758,1.518 0.004,0 0.009,0.004 0.014,0.004 l 3.243,0 0,18.119 2.16,0 c 0.005,0 0.002,0 0.007,0 0.9,0 1.634,-0.678 1.756,-1.541 l 0,-16.578 3.926,0 c 0.924,-0.031 1.667,-0.77 1.713,-1.694 z')
        path#path26(inkscape:connector-curvature='0', d='m 137.125,50.673 c -0.006,0 -0.011,0.005 -0.021,0.005 -0.826,0 -1.627,0.568 -1.977,1.337 l -5.399,16.278 -0.084,0 -5.281,-16.27 c -0.346,-0.773 -1.15,-1.346 -1.982,-1.346 -0.01,0 -0.013,-0.005 -0.021,-0.005 l -2.737,0 7.223,19.874 c 0.252,0.711 0.754,1.797 0.754,2.254 0,0.42 -1.17,5.26 -4.679,5.26 -0.086,0 -0.174,-0.01 -0.259,-0.016 -0.895,-0.049 -1.571,0.576 -1.72,1.539 l -0.107,1.359 c 0.71,0.125 1.422,0.293 2.674,0.293 5.176,0 6.721,-4.721 8.184,-8.811 l 7.847,-21.753 -2.415,0 z')
        path#path28(inkscape:connector-curvature='0', d='m 112.177,54.998 c -3.24,-1.658 -6.787,-2.785 -6.849,-6.121 0.01,-3.543 3.266,-4.474 5.774,-4.471 0.012,-0.002 0.022,-0.002 0.028,-0.002 1.09,0 1.961,0.108 2.812,0.295 0.011,0 0.009,-0.014 0.022,-0.014 0.9,0.066 1.655,-0.637 1.76,-1.523 l 0.072,-1.287 c -1.645,-0.408 -3.364,-0.617 -4.86,-0.617 -5.455,0.034 -9.506,2.779 -9.519,8.018 0.006,4.58 3.092,6.355 6.414,7.963 3.256,1.566 6.821,2.858 6.852,6.639 -0.018,3.943 -3.824,5.396 -6.447,5.402 -1.534,-0.006 -3.199,-0.387 -4.603,-0.83 -0.879,-0.145 -1.6,0.631 -1.715,1.658 l -0.118,1.146 c 1.929,0.623 3.906,1.168 5.895,1.168 0,0 0.002,0 0.004,0 0.005,0 0.012,0 0.018,0 6.112,-0.045 10.862,-2.482 10.881,-8.811 -0.007,-4.882 -3.116,-6.933 -6.421,-8.613 z')
        path#path30(inkscape:connector-curvature='0', d='m 171.534,71.967 c 0.003,0 0.003,0 0.005,0 0.847,0 1.554,-0.596 1.731,-1.389 l 0,-12.264 c 0,-4.635 -1.958,-8.143 -7.389,-8.143 -1.92,0 -5.134,1.088 -6.596,4.135 -1.126,-2.881 -3.59,-4.135 -6.051,-4.135 -3.133,0 -5.263,1.127 -6.765,3.592 l -0.084,0 0,-1.324 c -0.012,-0.975 -0.801,-1.762 -1.777,-1.762 -0.009,0 -0.013,-0.005 -0.019,-0.005 l -1.877,0 0,21.294 2.124,0 c 0.003,0 0.003,0 0.005,0 0.984,0 1.78,-0.799 1.78,-1.781 0,-0.027 0.009,-0.037 0.018,-0.055 l 0,-8.895 c 0,-3.965 1.585,-7.889 5.592,-7.889 3.171,0 3.802,3.297 3.802,5.928 l 0,12.691 2.153,0 c 0.002,0 0.002,0 0.006,0 0.93,0 1.679,-0.715 1.762,-1.623 l 0,-9.107 c 0,-3.965 1.588,-7.889 5.595,-7.889 3.173,0 3.8,3.297 3.8,5.928 l 0,12.691 2.185,0 z')
        path#path32(inkscape:connector-curvature='0', d='m 232.182,71.967 c 0.002,0 0.002,0 0.005,0 0.957,0 1.728,-0.756 1.773,-1.703 l 0,-10.948 c 0,-5.719 -2.466,-9.145 -7.977,-9.145 -2.964,0 -5.801,1.463 -6.973,3.886 l -0.082,0 0,-1.591 c 0,-0.002 -0.004,-0.002 -0.004,-0.006 0,-0.987 -0.799,-1.783 -1.779,-1.783 -0.011,0 -0.013,-0.005 -0.02,-0.005 l -1.998,0 0,21.294 2.157,0 c 0,0 0,0 0.004,0 0.934,0 1.691,-0.727 1.763,-1.643 l 0,-8.211 c 0,-5.176 2.006,-8.766 6.473,-8.766 3.427,0.207 4.507,2.627 4.507,7.597 l 0,11.022 2.151,0 z')
        path#path34(inkscape:connector-curvature='0', d='m 253.31,50.673 c -0.01,0 -0.014,0.005 -0.022,0.005 -0.827,0 -1.629,0.568 -1.978,1.337 l -5.397,16.278 -0.088,0 -5.282,-16.27 c -0.346,-0.773 -1.15,-1.346 -1.98,-1.346 -0.008,0 -0.013,-0.005 -0.02,-0.005 l -2.737,0 7.224,19.874 c 0.25,0.711 0.755,1.797 0.755,2.254 0,0.42 -1.171,5.26 -4.681,5.26 -0.085,0 -0.171,-0.01 -0.259,-0.016 -0.895,-0.049 -1.568,0.576 -1.722,1.539 l -0.105,1.359 c 0.709,0.125 1.422,0.293 2.675,0.293 5.176,0 6.72,-4.721 8.184,-8.811 l 7.849,-21.753 -2.416,0 z')




//- Ubuntu
// ?xml version="1.0" encoding="iso-8859-1"?
// Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)
svg(hidden version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', style='enable-background:new 0 0 512 512;', xml:space='preserve')
  symbol(id="ubuntu-logo", viewBox='0 0 512 512' )
    g
      circle(style='fill:#FF5722;', cx='54.674', cy='256', r='53.333')
      circle(style='fill:#FF5722;', cx='406.61', cy='458.667', r='53.333')
      circle(style='fill:#FF5722;', cx='406.61', cy='53.333', r='53.333')
      path(style='fill:#FF5722;', d='M262.098,147.669c2.383,4.129,7.216,6.176,11.84,5.013c55.924-14.4,113.089,18.592,128.597,74.219   c1.298,4.593,5.489,7.764,10.261,7.765h87.168c5.891,0.003,10.669-4.77,10.673-10.661c0-0.566-0.045-1.132-0.134-1.691   c-6.168-38.801-22.959-75.137-48.512-104.981c-3.524-4.066-9.524-4.871-13.995-1.877c-12.228,8.182-26.61,12.548-41.323,12.544   c-40.78-0.145-73.959-32.869-74.667-73.643c-0.078-5.395-4.171-9.882-9.536-10.453c-33.448-3.504-67.251,0.925-98.667,12.928   c-5.501,2.108-8.251,8.277-6.143,13.778c0.201,0.524,0.443,1.032,0.724,1.518L262.098,147.669z')
      path(style='fill:#FF5722;', d='M499.986,277.333h-87.168c-4.772,0.001-8.963,3.173-10.261,7.765   c-15.489,55.642-72.67,88.643-128.597,74.219c-4.624-1.163-9.457,0.884-11.84,5.013l-43.605,75.541   c-2.947,5.101-1.201,11.625,3.9,14.572c0.486,0.281,0.994,0.523,1.518,0.724c31.384,12.127,65.217,16.56,98.667,12.928   c5.365-0.571,9.458-5.059,9.536-10.453c0.472-41.14,34.205-74.109,75.345-73.637c14.435,0.165,28.511,4.521,40.516,12.538   c4.491,2.991,10.507,2.157,14.016-1.941c25.542-29.826,42.332-66.138,48.512-104.917c0.931-5.817-3.03-11.287-8.847-12.218   C501.118,277.378,500.552,277.333,499.986,277.333z')
      path(style='fill:#FF5722;', d='M223.548,330.261c-40.254-41.333-40.254-107.211,0-148.544c3.338-3.429,3.983-8.662,1.579-12.8   l-43.541-75.371c-1.564-2.711-4.239-4.599-7.317-5.163c-3.058-0.527-6.198,0.246-8.661,2.133   c-30.98,25.188-54.276,58.557-67.243,96.32c-1.451,4.211-0.133,8.881,3.307,11.712c31.735,25.306,36.947,71.546,11.641,103.281   c-3.432,4.304-7.337,8.209-11.641,11.641c-3.44,2.831-4.758,7.501-3.307,11.712c12.975,37.729,36.263,71.067,67.221,96.235   c1.905,1.549,4.286,2.392,6.741,2.389c0.644-0.004,1.286-0.061,1.92-0.171c3.078-0.564,5.754-2.452,7.317-5.163l43.541-75.413   C227.516,338.928,226.879,333.696,223.548,330.261z')
    



//- Git
svg(hidden xmlns='http://www.w3.org/2000/svg')
  symbol(id="git-logo", viewBox='0 0 512 512')
    path(d='m512 257c0 120-84.101562 220.5-196 247.5l-30.601562-97.199219h-58.796876l-29.601562 97.199219c-111.898438-27-197-127.5-197-247.5 0-140.699219 115.300781-257 256-257s256 116.300781 256 257zm0 0', fill='#384949')
    path(d='m512 257c0 120-84.101562 220.5-196 247.5l-30.601562-97.199219h-29.398438v-407.300781c140.699219 0 256 116.300781 256 257zm0 0', fill='#293939')
    path(d='m181.277344 430.058594c-6.078125 0-12.011719-.867188-17.828125-2.578125-15.128907-4.46875-27.421875-14.546875-36.546875-29.914063-4.160156-7.015625-8.496094-11.878906-13.605469-15.308594-5.027344-3.382812-9.039063-4.671874-13.273437-4.363281l-2.636719-29.882812c11.117187-.953125 21.753906 2.0625 32.59375 9.316406 8.832031 5.902344 16.257812 14.0625 22.71875 24.914063 5.304687 8.921874 11.410156 14.152343 19.25 16.46875 8.804687 2.589843 17.941406 1.507812 29.632812-3.472657l11.808594 27.566407c-11.296875 4.835937-21.929687 7.253906-32.113281 7.253906zm0 0', fill='#ececf1')
    path(d='m400.902344 287.300781c-10.503906 27.898438-36.902344 63.300781-103.800782 73.199219 8.699219 12.898438 19.199219 19.800781 18.898438 46.800781v97.199219c-19.199219 4.800781-39.300781 7.5-60 7.5s-39.800781-2.699219-59-7.5v-98.402344c0-26.699218 10.101562-34.199218 17.898438-45.597656-66.898438-9.902344-93.296876-45.300781-103.800782-73.199219-14.097656-37.203125-6.597656-83.402343 18.003906-112.800781.597657-.601562 1.5-2.101562 1.199219-3-11.402343-34.199219 2.398438-62.699219 3-65.699219 12.898438 3.898438 15-3.902343 56.699219 21.597657l7.199219 4.203124c3 1.796876 2.101562.597657 5.101562.597657 17.398438-4.800781 35.699219-7.5 53.699219-7.5 18.300781 0 36.300781 2.699219 54.597656 7.5l2.101563.300781s.597656 0 2.101562-.898438c51.898438-31.503906 50.097657-21.300781 64.195313-25.800781.300781 3 14.101562 31.796875 2.703125 65.699219-1.5 4.5 45 47.097656 19.203125 115.800781zm0 0', fill='#ececf1')
    path(d='m400.902344 287.300781c-10.503906 27.898438-36.902344 63.300781-103.800782 73.199219 8.699219 12.898438 19.199219 19.800781 18.898438 46.800781v97.199219c-19.199219 4.800781-39.300781 7.5-60 7.5v-387.300781c18.300781 0 36.300781 2.699219 54.601562 7.5l2.097657.300781s.601562 0 2.101562-.898438c51.898438-31.503906 50.097657-21.300781 64.199219-25.800781.300781 3 14.101562 31.796875 2.699219 65.699219-1.5 4.5 45 47.097656 19.203125 115.800781zm0 0', fill='#e2e2e7')




//- VSC
svg(hidden version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', style='enable-background:new 0 0 512 512;', xml:space='preserve')
  symbol(id="vscode-logo", viewBox='0 0 512 512',)
    circle(style='fill:#6E64C3;', cx='256', cy='256', r='256')
    path(style='fill:#5046AF;', d='M405.21,129.405l-70.646-28.547l-124.44,120.581l-75.183-57.035l-28.518,14.259l0.366,150.674  l180.73,180.73C414.032,494.532,512,386.712,512,256c0-6.947-0.287-13.827-0.83-20.635L405.21,129.405z')
    path(style='fill:#FFFFFF;', d='M405.21,129.405l-70.646-28.547l-124.44,120.581l-75.183-57.035l-28.518,14.259l0.366,150.674  l28.518,14.259l75.183-57.035l124.44,120.581l70.646-28.547L405.21,129.405z M142.437,285.913v-63.825L177.718,254h0.366  L142.437,285.913z M327.477,307.139L256.549,254h-0.366l71.294-53.139L327.477,307.139L327.477,307.139z')
   






//- Progress 1
svg(hidden xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', x='0px', y='0px', style='enable-background:new 0 0 512.039 512.039;', xml:space='preserve')
  symbol(id="progress-1-logo", viewBox='0 0 512.039 512.039')
    g#XMLID_1258_
      g#XMLID_1850_
        path#XMLID_1911_(d='M509.067,215.358c-2.367-2.366-5.766-3.391-9.044-2.732l-86.184,17.345    c-3.613,0.728-6.534,3.384-7.6,6.911c-1.066,3.528-0.105,7.357,2.501,9.964l11.66,11.66l-45.762,45.762l-35.426-35.426    c-1.876-1.875-4.419-2.929-7.071-2.929s-5.195,1.054-7.071,2.929L281.6,312.313l16.306-58.59    c3.964-14.243,1.108-29.163-7.835-40.936c-5.478-7.21-12.71-12.526-20.886-15.572l13.035-37.236    c3.597,0.316,7.185,0.477,10.732,0.477c28.876,0,57.03-10.178,79.277-28.657l2.383-1.979c11.729-9.745,13.733-26.68,4.565-38.552    c-4.649-6.021-11.367-9.797-18.917-10.631c-7.553-0.835-14.933,1.381-20.777,6.236l-2.707,2.249    c-3.989,3.313-8.351,6.174-12.965,8.501c-15.42,7.778-34.676,4.314-47.471-8.349c18.612-5.765,32.17-23.139,32.17-43.621    C308.511,20.48,288.03,0,262.856,0c-25.175,0-45.655,20.48-45.655,45.654c0,10.018,3.251,19.286,8.742,26.822    c-10.386,2.236-19.733,7.591-26.885,15.162c-0.417,0.366-0.817,0.762-1.179,1.208c-17.629,21.654-41.131,37.186-67.964,44.915    c-7.265,2.094-13.015,6.918-16.466,13.034l-20.496-20.496c-8.968-8.967-23.558-8.966-32.527,0l-26.823,26.824l0,0l0,0    L6.78,179.946c-4.345,4.344-6.737,10.119-6.737,16.264c0,6.144,2.393,11.919,6.736,16.264l73.905,73.905    c4.345,4.344,10.12,6.736,16.264,6.736c6.145,0,11.92-2.393,16.264-6.736l27.773-27.773l-13.169,34.532    c-1.968,5.16,0.62,10.939,5.78,12.907c1.173,0.447,2.377,0.659,3.562,0.659c4.028,0,7.825-2.452,9.346-6.439l32.798-86.001h62.61    h10.823c8.479,0,16.282,3.872,21.411,10.623s6.767,15.307,4.493,23.474l-22.723,81.646c-1.022,3.674-4.4,6.24-8.214,6.24    c-3.422,0-5.532-1.874-6.485-2.991s-2.473-3.496-1.936-6.874l12.091-76.012c0.46-2.891-0.37-5.837-2.27-8.063    c-1.9-2.226-4.68-3.508-7.606-3.508h-23.708c-3.771,0-7.222,2.121-8.924,5.486c-0.584,1.154-58.605,115.875-78.157,154.639    c-1.957,3.882-6.212,6.097-10.575,5.5l-0.474-0.064c-2.977-0.402-5.563-2.114-7.098-4.697s-1.8-5.674-0.729-8.48l6.162-16.157    c1.968-5.16-0.62-10.938-5.78-12.907c-5.159-1.968-10.938,0.621-12.907,5.78l-6.162,16.157    c-3.259,8.546-2.449,17.957,2.222,25.821c4.671,7.863,12.548,13.077,21.604,14.303l0.474,0.063    c1.371,0.187,2.737,0.276,4.094,0.276c11.322,0,21.852-6.326,27.027-16.588c17.078-33.86,63.524-125.706,75.372-149.132h5.843    l-10.25,64.441c-1.313,8.257,1.047,16.641,6.476,23c3.492,4.091,8.014,7.052,13.02,8.649L127.629,466.286    c-1.875,1.876-2.929,4.419-2.929,7.071s1.054,5.196,2.929,7.071l28.683,28.682c1.953,1.952,4.512,2.929,7.071,2.929    s5.118-0.977,7.071-2.929l55.141-55.141c3.905-3.905,3.905-10.237,0-14.143c-3.906-3.904-10.236-3.904-14.143,0l-48.069,48.07    l-14.54-14.54l183.3-183.302l35.426,35.426c1.876,1.875,4.419,2.929,7.071,2.929s5.195-1.054,7.071-2.929l59.903-59.904    c3.905-3.905,3.905-10.237,0-14.143l-5.538-5.538l53.149-10.696l-10.696,53.149l-8.231-8.231c-3.906-3.904-10.236-3.904-14.143,0    l-81.516,81.516l-35.426-35.426c-3.906-3.904-10.236-3.904-14.143,0l-57.051,57.051c-3.905,3.905-3.905,10.237,0,14.143    c3.906,3.904,10.236,3.904,14.143,0l49.979-49.979l35.426,35.426c3.906,3.904,10.236,3.904,14.143,0l81.516-81.516l14.354,14.354    c2.606,2.606,6.437,3.569,9.963,2.501c3.528-1.065,6.185-3.986,6.912-7.6l17.345-86.185    C512.46,221.121,511.434,217.726,509.067,215.358z M262.856,20c14.146,0,25.654,11.509,25.654,25.654    c0,14.146-11.509,25.655-25.654,25.655c-14.146,0-25.655-11.509-25.655-25.655C237.201,31.509,248.71,20,262.856,20z     M163.904,197.25l-12.17-12.17c5.78-1.886,11.457-4.043,17.015-6.456L163.904,197.25z M130.155,162.562    c-1.182-4.102,1.195-8.4,5.297-9.582c16.439-4.736,31.772-12.048,45.586-21.597l-5.647,21.71    c-11.242,6.212-23.211,11.18-35.657,14.765c-0.231,0.066-0.473,0.124-0.712,0.17c-1.845,0.351-3.691-0.016-5.241-0.9l-2.929-2.929    C130.563,163.688,130.323,163.144,130.155,162.562z M74.567,140.441c0.585-0.585,1.354-0.877,2.122-0.877s1.537,0.292,2.121,0.877    l36.452,36.452c1.691,2.309,3.707,4.322,5.978,5.978l31.476,31.476c1.17,1.169,1.17,3.073,0,4.242l-19.752,19.752l-21.967-21.967    l4.184-4.184c3.905-3.905,3.905-10.237,0-14.143l-22.51-22.51c-3.906-3.904-10.236-3.904-14.143,0l-4.184,4.184l-19.529-19.529    L74.567,140.441z M88.255,210.832c-0.957,0.957-2.074,1.101-2.655,1.101c-0.58,0-1.697-0.144-2.654-1.1v-0.001l-3.059-3.058    c-0.956-0.957-1.1-2.074-1.1-2.654c0-0.581,0.144-1.698,1.101-2.655l5.712-5.712l8.367,8.367L88.255,210.832z M99.069,272.237    c-0.727,0.726-1.554,0.878-2.121,0.878c-0.566,0-1.395-0.152-2.121-0.879l-73.905-73.905c-0.727-0.727-0.879-1.555-0.879-2.121    c0-0.567,0.152-1.395,0.879-2.121l19.751-19.752L61.137,194.8c-1.535,3.178-2.35,6.686-2.35,10.32    c0,6.346,2.472,12.311,6.958,16.797l3.058,3.057v0.001c4.486,4.486,10.452,6.958,16.797,6.958c3.634,0,7.142-0.814,10.32-2.35    l22.902,22.902L99.069,272.237z M241.911,194.264h-56.564l20.543-78.973c3.674-14.12,16.429-23.981,31.019-23.981    c9.013,0,17.35,3.634,23.475,10.233c18.788,20.244,48.577,25.975,72.436,13.938c5.958-3.005,11.59-6.696,16.738-10.974    l2.707-2.249c1.632-1.356,3.691-1.978,5.801-1.74c2.105,0.232,3.981,1.288,5.283,2.975c2.513,3.253,1.832,8.163-1.516,10.944    l-2.382,1.979c-18.664,15.504-42.28,24.042-66.498,24.042c-5.259,0-10.634-0.421-15.977-1.252    c-4.769-0.748-9.382,2.024-10.976,6.577l-16.972,48.481H241.911z')
        path#XMLID_1920_(d='M246.996,408.8c-2.63,0-5.21,1.069-7.07,2.93c-1.86,1.859-2.93,4.439-2.93,7.07    c0,2.64,1.069,5.21,2.93,7.069c1.86,1.87,4.44,2.931,7.07,2.931s5.21-1.061,7.069-2.931c1.86-1.859,2.931-4.43,2.931-7.069    c0-2.631-1.07-5.211-2.931-7.07C252.206,409.869,249.626,408.8,246.996,408.8z')
        path#XMLID_1921_(d='M122.886,344.14c2.63,0,5.21-1.07,7.07-2.931c1.859-1.859,2.93-4.439,2.93-7.069s-1.07-5.21-2.93-7.07    c-1.87-1.86-4.44-2.93-7.07-2.93s-5.21,1.069-7.08,2.93c-1.859,1.86-2.92,4.44-2.92,7.07s1.061,5.21,2.92,7.069    C117.676,343.069,120.246,344.14,122.886,344.14z')




//- Progress 2
svg(hidden version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', style='enable-background:new 0 0 363.868 363.868;', xml:space='preserve')
  symbol(id="progress-2-logo", viewBox='0 0 363.868 363.868')  
    g
      path(style='fill:#010002;', d='M92.723,274.945c-3.178,3.178-5.747,9.388-5.747,13.875v58.444h33.929v-92.373   c0-4.487-2.569-5.56-5.747-2.382L92.723,274.945z')
      path(style='fill:#010002;', d='M241.752,219.573c-3.17,3.178-5.747,9.389-5.747,13.884v113.816h33.929V199.487   c0-4.487-2.569-5.552-5.747-2.374L241.752,219.573z')
      path(style='fill:#010002;', d='M291.418,169.834c-3.178,3.17-5.755,9.38-5.755,13.867v163.563h31.547V152.212   c0-4.487-2.577-5.56-5.755-2.382L291.418,169.834z')
      path(style='fill:#010002;', d='M193.078,268.239c0,0-1.512,1.52-3.381,3.39c-1.861,1.87-3.373,7.031-3.373,11.518v64.118h33.929   v-98.047c0-4.487-2.577-5.56-5.755-2.382L193.078,268.239z')
      path(style='fill:#010002;', d='M142.405,250.998c-3.178-3.17-5.755-2.105-5.755,2.382v93.885h33.929v-60.03   c0-4.487-2.439-10.559-5.454-13.558l-5.454-5.43L142.405,250.998z')
      path(style='fill:#010002;', d='M50.023,317.669l-10.957,10.974c-3.17,3.178-5.739,8.633-5.739,12.193v6.438h37.871V304.59   c0-4.487-2.569-5.552-5.747-2.374L50.023,317.669z')
      path(style='fill:#010002;', d='M358.121,150.724c3.17,3.178,5.747,2.105,5.747-2.382V32.193c0-8.316-7.966-15.599-16.233-15.599   H232.16c-4.487,0-5.56,2.577-2.382,5.755l41.074,41.106l-16.753,16.68l-77.701,77.774L135.3,116.82   c-3.178-3.178-8.316-3.17-11.494,0L9.519,231.189C-3.178,243.894-3.17,264.484,9.527,277.18l0.797,0.805   c12.697,12.697,33.287,12.697,45.975-0.008l73.247-73.287l41.098,41.057c3.178,3.17,8.324,3.17,11.502,0l135.479-135.503   L358.121,150.724z')
    



//- Progress 3
svg(hidden xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', x='0px', y='0px', style='enable-background:new 0 0 512.039 512.039;', xml:space='preserve')
  symbol(id="progress-3-logo", viewBox='0 0 512.039 512.039')
    g#XMLID_1258_
      path#XMLID_2497_(style='fill:#00CCF2;', d='M205.633,95.159c-18.923,23.243-44.148,39.914-72.949,48.211   c-9.416,2.712-14.85,12.543-12.138,21.958c2.558,8.88,11.447,14.217,20.348,12.522c0.537-0.102,1.076-0.23,1.611-0.384   c14.655-4.222,28.563-10.19,41.495-17.748L205.633,95.159z')
      path#XMLID_2465_(style='fill:#00CCF2;', d='M256.123,204.264l19.316-55.177c5.827,0.906,11.681,1.37,17.513,1.37   c26.296,0,52.126-9.104,72.888-26.349l2.382-1.979c7.398-6.147,8.921-17.135,3.042-24.749c-6.172-7.993-17.686-9.215-25.389-2.815   l-2.708,2.25c-4.621,3.839-9.607,7.092-14.85,9.737c-20.449,10.316-45.023,4.975-60.604-11.812   c-7.624-8.214-18.523-13.43-30.804-13.43l0,0c-19.147,0-35.876,12.934-40.696,31.464l-23.8,91.49H256.123z')
      path#XMLID_1201_(style='fill:#FFBE52;', d='M172.411,204.264l-69.924,183.355c-4.542,11.909,3.199,24.942,15.83,26.652   l0.467,0.063c8.645,1.17,16.973-3.214,20.852-10.906c19.775-39.208,78.152-154.629,78.152-154.629h23.708l-12.09,76.012   c-1.79,11.251,6.904,21.437,18.296,21.437h0c8.319,0,15.618-5.545,17.848-13.559l22.722-81.646   c6.543-23.509-11.135-46.779-35.538-46.779h-10.823H172.411z')
      g#XMLID_2445_
        polygon#XMLID_2448_(style='fill:#FF6371;', points='501.996,222.43 415.812,239.775 434.543,258.506 374.639,318.41     332.143,275.913 134.7,473.358 163.382,502.039 332.143,333.279 374.639,375.776 463.227,287.189 484.651,308.614   ')
        polygon#XMLID_2446_(style='fill:#FF6371;', points='501.996,222.43 415.812,239.775 434.543,258.506 374.639,318.41     332.143,275.913 134.7,473.358 163.382,502.039 332.143,333.279 374.639,375.776 463.227,287.189 484.651,308.614   ')
      circle#XMLID_2427_(style='fill:#FED2A4;', cx='262.856', cy='45.655', r='35.655')
      g#XMLID_1020_
        path#XMLID_1033_(style='fill:#FF9357;', d='M87.756,279.308L13.85,205.402c-5.077-5.077-5.077-13.308,0-18.385l53.647-53.647    c5.077-5.077,13.308-5.077,18.385,0l73.906,73.906c5.077,5.077,5.077,13.308,0,18.385l-53.647,53.647    C101.064,284.384,92.833,284.384,87.756,279.308z')
        path#XMLID_1031_(style='fill:#FFFFFF;', d='M75.874,217.904l-3.058-3.058c-5.372-5.372-5.372-14.081,0-19.452L85.6,182.61    l22.51,22.51l-12.784,12.784C89.954,223.275,81.245,223.275,75.874,217.904z')
      g#XMLID_1850_
        path#XMLID_1911_(d='M509.067,215.358c-2.367-2.366-5.766-3.391-9.044-2.732l-86.184,17.345    c-3.613,0.728-6.534,3.384-7.6,6.911c-1.066,3.528-0.105,7.357,2.501,9.964l11.66,11.66l-45.762,45.762l-35.426-35.426    c-1.876-1.875-4.419-2.929-7.071-2.929s-5.195,1.054-7.071,2.929L281.6,312.313l16.306-58.59    c3.964-14.243,1.108-29.163-7.835-40.936c-5.478-7.21-12.71-12.526-20.886-15.572l13.035-37.236    c3.597,0.316,7.185,0.477,10.732,0.477c28.876,0,57.03-10.178,79.277-28.657l2.383-1.979c11.729-9.745,13.733-26.68,4.565-38.552    c-4.649-6.021-11.367-9.797-18.917-10.631c-7.553-0.835-14.933,1.381-20.777,6.236l-2.707,2.249    c-3.989,3.313-8.351,6.174-12.965,8.501c-15.42,7.778-34.676,4.314-47.471-8.349c18.612-5.765,32.17-23.139,32.17-43.621    C308.511,20.48,288.03,0,262.856,0c-25.175,0-45.655,20.48-45.655,45.654c0,10.018,3.251,19.286,8.742,26.822    c-10.386,2.236-19.733,7.591-26.885,15.162c-0.417,0.366-0.817,0.762-1.179,1.208c-17.629,21.654-41.131,37.186-67.964,44.915    c-7.265,2.094-13.015,6.918-16.466,13.034l-20.496-20.496c-8.968-8.967-23.558-8.966-32.527,0l-26.823,26.824l0,0l0,0    L6.78,179.946c-4.345,4.344-6.737,10.119-6.737,16.264c0,6.144,2.393,11.919,6.736,16.264l73.905,73.905    c4.345,4.344,10.12,6.736,16.264,6.736c6.145,0,11.92-2.393,16.264-6.736l27.773-27.773l-13.169,34.532    c-1.968,5.16,0.62,10.939,5.78,12.907c1.173,0.447,2.377,0.659,3.562,0.659c4.028,0,7.825-2.452,9.346-6.439l32.798-86.001h62.61    h10.823c8.479,0,16.282,3.872,21.411,10.623s6.767,15.307,4.493,23.474l-22.723,81.646c-1.022,3.674-4.4,6.24-8.214,6.24    c-3.422,0-5.532-1.874-6.485-2.991s-2.473-3.496-1.936-6.874l12.091-76.012c0.46-2.891-0.37-5.837-2.27-8.063    c-1.9-2.226-4.68-3.508-7.606-3.508h-23.708c-3.771,0-7.222,2.121-8.924,5.486c-0.584,1.154-58.605,115.875-78.157,154.639    c-1.957,3.882-6.212,6.097-10.575,5.5l-0.474-0.064c-2.977-0.402-5.563-2.114-7.098-4.697s-1.8-5.674-0.729-8.48l6.162-16.157    c1.968-5.16-0.62-10.938-5.78-12.907c-5.159-1.968-10.938,0.621-12.907,5.78l-6.162,16.157    c-3.259,8.546-2.449,17.957,2.222,25.821c4.671,7.863,12.548,13.077,21.604,14.303l0.474,0.063    c1.371,0.187,2.737,0.276,4.094,0.276c11.322,0,21.852-6.326,27.027-16.588c17.078-33.86,63.524-125.706,75.372-149.132h5.843    l-10.25,64.441c-1.313,8.257,1.047,16.641,6.476,23c3.492,4.091,8.014,7.052,13.02,8.649L127.629,466.286    c-1.875,1.876-2.929,4.419-2.929,7.071s1.054,5.196,2.929,7.071l28.683,28.682c1.953,1.952,4.512,2.929,7.071,2.929    s5.118-0.977,7.071-2.929l55.141-55.141c3.905-3.905,3.905-10.237,0-14.143c-3.906-3.904-10.236-3.904-14.143,0l-48.069,48.07    l-14.54-14.54l183.3-183.302l35.426,35.426c1.876,1.875,4.419,2.929,7.071,2.929s5.195-1.054,7.071-2.929l59.903-59.904    c3.905-3.905,3.905-10.237,0-14.143l-5.538-5.538l53.149-10.696l-10.696,53.149l-8.231-8.231c-3.906-3.904-10.236-3.904-14.143,0    l-81.516,81.516l-35.426-35.426c-3.906-3.904-10.236-3.904-14.143,0l-57.051,57.051c-3.905,3.905-3.905,10.237,0,14.143    c3.906,3.904,10.236,3.904,14.143,0l49.979-49.979l35.426,35.426c3.906,3.904,10.236,3.904,14.143,0l81.516-81.516l14.354,14.354    c2.606,2.606,6.437,3.569,9.963,2.501c3.528-1.065,6.185-3.986,6.912-7.6l17.345-86.185    C512.46,221.121,511.434,217.726,509.067,215.358z M262.856,20c14.146,0,25.654,11.509,25.654,25.654    c0,14.146-11.509,25.655-25.654,25.655c-14.146,0-25.655-11.509-25.655-25.655C237.201,31.509,248.71,20,262.856,20z     M163.904,197.25l-12.17-12.17c5.78-1.886,11.457-4.043,17.015-6.456L163.904,197.25z M130.155,162.562    c-1.182-4.102,1.195-8.4,5.297-9.582c16.439-4.736,31.772-12.048,45.586-21.597l-5.647,21.71    c-11.242,6.212-23.211,11.18-35.657,14.765c-0.231,0.066-0.473,0.124-0.712,0.17c-1.845,0.351-3.691-0.016-5.241-0.9l-2.929-2.929    C130.563,163.688,130.323,163.144,130.155,162.562z M74.567,140.441c0.585-0.585,1.354-0.877,2.122-0.877s1.537,0.292,2.121,0.877    l36.452,36.452c1.691,2.309,3.707,4.322,5.978,5.978l31.476,31.476c1.17,1.169,1.17,3.073,0,4.242l-19.752,19.752l-21.967-21.967    l4.184-4.184c3.905-3.905,3.905-10.237,0-14.143l-22.51-22.51c-3.906-3.904-10.236-3.904-14.143,0l-4.184,4.184l-19.529-19.529    L74.567,140.441z M88.255,210.832c-0.957,0.957-2.074,1.101-2.655,1.101c-0.58,0-1.697-0.144-2.654-1.1v-0.001l-3.059-3.058    c-0.956-0.957-1.1-2.074-1.1-2.654c0-0.581,0.144-1.698,1.101-2.655l5.712-5.712l8.367,8.367L88.255,210.832z M99.069,272.237    c-0.727,0.726-1.554,0.878-2.121,0.878c-0.566,0-1.395-0.152-2.121-0.879l-73.905-73.905c-0.727-0.727-0.879-1.555-0.879-2.121    c0-0.567,0.152-1.395,0.879-2.121l19.751-19.752L61.137,194.8c-1.535,3.178-2.35,6.686-2.35,10.32    c0,6.346,2.472,12.311,6.958,16.797l3.058,3.057v0.001c4.486,4.486,10.452,6.958,16.797,6.958c3.634,0,7.142-0.814,10.32-2.35    l22.902,22.902L99.069,272.237z M241.911,194.264h-56.564l20.543-78.973c3.674-14.12,16.429-23.981,31.019-23.981    c9.013,0,17.35,3.634,23.475,10.233c18.788,20.244,48.577,25.975,72.436,13.938c5.958-3.005,11.59-6.696,16.738-10.974    l2.707-2.249c1.632-1.356,3.691-1.978,5.801-1.74c2.105,0.232,3.981,1.288,5.283,2.975c2.513,3.253,1.832,8.163-1.516,10.944    l-2.382,1.979c-18.664,15.504-42.28,24.042-66.498,24.042c-5.259,0-10.634-0.421-15.977-1.252    c-4.769-0.748-9.382,2.024-10.976,6.577l-16.972,48.481H241.911z')
        path#XMLID_1920_(d='M246.996,408.8c-2.63,0-5.21,1.069-7.07,2.93c-1.86,1.859-2.93,4.439-2.93,7.07    c0,2.64,1.069,5.21,2.93,7.069c1.86,1.87,4.44,2.931,7.07,2.931s5.21-1.061,7.069-2.931c1.86-1.859,2.931-4.43,2.931-7.069    c0-2.631-1.07-5.211-2.931-7.07C252.206,409.869,249.626,408.8,246.996,408.8z')
        path#XMLID_1921_(d='M122.886,344.14c2.63,0,5.21-1.07,7.07-2.931c1.859-1.859,2.93-4.439,2.93-7.069s-1.07-5.21-2.93-7.07    c-1.87-1.86-4.44-2.93-7.07-2.93s-5.21,1.069-7.08,2.93c-1.859,1.86-2.92,4.44-2.92,7.07s1.061,5.21,2.92,7.069    C117.676,343.069,120.246,344.14,122.886,344.14z')


//- React
svg(hidden id="" style='enable-background:new 0 0 128 128;', version='1.1', xml:space='preserve', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
  symbol(id="react-logo", viewbox='0 0 128 128')
    style(type='text/css').
      .st0{fill:#292929;}
      .st1{fill:#00DBFC;}
    g
      g
        g
          g
            circle.st0(cx='64', cy='64', r='50')
    g
      circle.st1(cx='64', cy='63.9', r='5.5')
      path.st1(d='M91.6,58.5c-1.9-1.6-4.6-3-7.8-4.1c-0.6-0.2-1.3-0.4-2-0.6c0.1-0.5,0.2-0.9,0.3-1.4c1.5-7.4,0.4-13.2-2.8-15.1   c-1.6-0.9-3.8-0.9-6.3,0c-2.3,0.9-4.9,2.5-7.4,4.7c-0.5,0.4-1,0.9-1.5,1.4c-0.3-0.3-0.7-0.6-1-0.9c-5.6-5-11.2-7-14.5-5.1   c-1.6,0.9-2.7,2.8-3.2,5.5c-0.4,2.4-0.3,5.5,0.4,8.8c0.1,0.7,0.3,1.3,0.5,2c-0.8,0.2-1.6,0.5-2.3,0.7c-6.7,2.3-10.7,5.9-10.7,9.5   c0,1.9,1.1,3.9,3.2,5.6c2,1.7,4.8,3.2,8,4.3c0.5,0.2,1.1,0.4,1.7,0.5c-0.2,0.7-0.3,1.5-0.5,2.2c-1.3,6.9-0.2,12.2,2.9,14   c0.8,0.5,1.8,0.7,2.9,0.7c1.1,0,2.3-0.2,3.6-0.7c2.5-0.9,5.1-2.5,7.7-4.8c0.4-0.4,0.9-0.8,1.3-1.2c0.6,0.5,1.1,1,1.7,1.5   c3.9,3.4,7.7,5.2,10.7,5.2c1.1,0,2.1-0.2,2.9-0.7c1.6-1,2.8-2.9,3.3-5.6c0.5-2.6,0.4-5.7-0.3-9.1c-0.1-0.5-0.2-1.1-0.4-1.6   c0.4-0.1,0.8-0.2,1.1-0.4c7.2-2.4,11.6-6.2,11.6-10C94.7,62.1,93.6,60.2,91.6,58.5z M73.9,39.8c1.8-0.6,3.2-0.7,4.1-0.2   c1.8,1,3,5.3,1.6,12.3c-0.1,0.4-0.2,0.8-0.3,1.2c-2.6-0.6-5.3-1-8.2-1.3c-1.7-2.4-3.4-4.6-5.2-6.5c0.5-0.5,0.9-0.9,1.4-1.3   C69.6,42,71.9,40.6,73.9,39.8z M72.6,69c-1,1.7-1.9,3.3-2.9,4.7c-1.8,0.1-3.7,0.2-5.6,0.2c-1.9,0-3.8-0.1-5.6-0.2   c-1-1.5-2.1-3.1-3-4.8c-1-1.6-1.8-3.3-2.6-5c0.8-1.7,1.7-3.3,2.6-4.9l0,0c1-1.6,2-3.2,3-4.8c1.8-0.1,3.7-0.2,5.6-0.2   c1.9,0,3.8,0.1,5.6,0.2c1,1.5,2,3.1,3,4.7c1,1.7,1.9,3.3,2.7,4.9C74.4,65.6,73.6,67.3,72.6,69z M76.6,67c0.8,1.9,1.5,3.7,2.1,5.4   c-1.8,0.4-3.7,0.7-5.7,1c0.6-1,1.3-2.1,1.9-3.1C75.5,69.2,76.1,68.1,76.6,67z M64.1,80.9c-1.2-1.3-2.5-2.8-3.7-4.4   c1.2,0,2.4,0.1,3.6,0.1c1.3,0,2.5,0,3.7-0.1C66.5,78.1,65.3,79.6,64.1,80.9z M55.1,73.4c-2-0.2-3.9-0.5-5.7-0.9   c0.5-1.8,1.2-3.6,2-5.4c0.6,1.1,1.1,2.1,1.7,3.2C53.8,71.4,54.4,72.4,55.1,73.4z M53.2,57.7c-0.6,1.1-1.2,2.1-1.7,3.2   c-0.8-1.8-1.4-3.6-2-5.3c1.8-0.4,3.6-0.7,5.6-1C54.4,55.6,53.8,56.7,53.2,57.7z M64,47.2c1.2,1.3,2.4,2.8,3.6,4.4   c-1.2-0.1-2.4-0.1-3.7-0.1c-1.2,0-2.4,0-3.6,0.1C61.6,50,62.8,48.5,64,47.2z M74.8,57.7c-0.6-1.1-1.2-2.1-1.9-3.1   c2,0.2,3.8,0.6,5.6,1c-0.5,1.7-1.2,3.5-2,5.3C76.1,59.9,75.5,58.8,74.8,57.7z M48.3,51.2c-0.6-3-0.7-5.7-0.3-7.8   c0.3-1.8,1-3.1,1.9-3.7c1.8-1,6.1,0,11.4,4.8c0.3,0.3,0.6,0.6,0.9,0.9c-1.8,1.9-3.5,4.1-5.2,6.5c-2.9,0.3-5.7,0.7-8.2,1.3   C48.6,52.4,48.5,51.8,48.3,51.2z M45.4,71.4c-6.5-2.2-9.5-5.4-9.5-7.5c0-2,2.8-4.9,8.9-7c0.7-0.2,1.4-0.5,2.1-0.7   c0.8,2.5,1.8,5.1,3,7.8c-1.2,2.7-2.3,5.3-3,7.9C46.4,71.7,45.9,71.6,45.4,71.4z M51.5,88.7c-0.7,0-1.2-0.1-1.6-0.4   c-1.7-1-2.9-4.8-1.6-11.2c0.1-0.7,0.3-1.3,0.4-2c2.5,0.6,5.3,1,8.3,1.2c1.7,2.4,3.5,4.6,5.3,6.5c-0.4,0.4-0.8,0.7-1.2,1.1   C57.2,87.3,53.7,88.7,51.5,88.7z M79.8,76.4c1.3,6.7,0,10.9-1.7,11.9c-1.7,1-5.6,0.1-10.5-4.2c-0.5-0.4-1-0.9-1.5-1.4   c1.7-1.9,3.5-4.1,5.2-6.5c3-0.3,5.8-0.7,8.3-1.3C79.6,75.4,79.7,75.9,79.8,76.4z M82.3,71.4c-0.3,0.1-0.7,0.2-1,0.3   c-0.8-2.4-1.8-5.1-3.1-7.8c1.2-2.6,2.2-5.2,3-7.7c0.6,0.2,1.2,0.4,1.8,0.6c2.9,1,5.3,2.3,6.9,3.6c1.4,1.2,2.2,2.4,2.2,3.5   C92.1,66,89,69.2,82.3,71.4z')


svg(hidden version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', style='enable-background:new 0 0 512 512;', xml:space='preserve')
  symbol(id="java-logo" viewbox='0 0 512 512')
  
    path(style='fill:#F2F2F2;', d='M512,256c0,94.187-50.866,176.504-126.642,220.954c-2.038,1.202-4.106,2.372-6.186,3.511\
    C342.632,500.569,300.659,512,256,512c-34.544,0-67.48-6.844-97.541-19.247c-4.827-1.985-9.582-4.117-14.252-6.395\
    C58.838,444.865,0,357.303,0,256C0,114.615,114.615,0,256,0S512,114.615,512,256z')
    g
      path(style='fill:#DE0A17;', d='M289.623,4.605c7.587,28.969,5.518,43.454-34.487,76.562s-46.213,33.797-46.213,54.489\
      s30.694,53.455,45.523,62.767c0,0-2.414-5.863-7.932-14.829c-5.518-8.966-22.416-24.141-19.313-47.247s51.903-52.593,64.491-74.837\
      C304.279,39.264,301.349,20.469,289.623,4.605z')
      path(style='fill:#DE0A17;', d='M333.767,77.717c-34.487,11.381-77.251,29.314-77.251,64.146s22.071,28.279,22.071,46.902\
      s-12.071,24.141-12.071,24.141s31.728-12.071,30.349-36.212s-20.347-20.692-20.347-43.109\
      C276.518,105.211,333.767,77.717,333.767,77.717z')
      path(style='fill:#DE0A17;', d='M211.682,201.182c-34.487,0-58.283,12.76-58.283,20.002s42.419,14.14,88.287,11.036\
      s70.009-6.897,88.287-17.934c0,0-32.418,7.587-57.249,7.587s-95.794,4.438-94.149-6.208c1.645-10.645,42.765-14.484,42.765-14.484\
      L211.682,201.182L211.682,201.182z')
      path(style='fill:#DE0A17;', d='M198.921,241.531c-18.278,6.553-23.107,13.105-12.415,20.003\
      c10.691,6.897,31.728,8.966,60.697,8.966s69.32-10.002,69.32-10.002l-13.105-10.347c0,0-17.934,6.553-52.076,6.553\
      S182.885,257.568,198.921,241.531z')
      path(style='fill:#DE0A17;', d='M207.198,280.502c-17.934,6.208-21.727,14.484-5.863,22.071c15.864,7.587,46.213,8.966,68.629,5.863\
      c22.416-3.103,41.384-10.002,41.384-10.002s-12.243-4.656-17.934-10.347c0,0-26.21,5.518-51.041,5.518\
      S197.542,290.158,207.198,280.502z')
      path(style='fill:#DE0A17;', d='M341.009,203.25c0,0,8.621-11.726,30.349-2.759c21.727,8.966,21.037,33.108,1.379,47.592\
      s-43.454,19.313-43.454,19.313s44.144-19.313,43.109-43.109C371.358,200.492,351.009,201.182,341.009,203.25z')
      path(style='fill:#DE0A17;', d='M164.435,328.78c67.943,12.415,171.404-0.342,189.676-4.821\
      c18.282-4.49,11.588-14.216,11.588-14.216c4.469,3.156,6.456,6.632,4.625,10.419c-10.005,20.692-105.189,24.137-133.124,24.137\
      s-112.773-1.718-112.773-16.895c0-14.991,40.029-24.262,54.969-20.816C151.295,314.627,134.617,323.328,164.435,328.78z')
      path(style='fill:#DE0A17;', d='M172.194,350.941c0,0,24.055,18.364,143.811,7.759c47.851-3.88,67.767-15.778,70.354-28.969\
      c0,0-21.986,12.415-49.145,17.589C310.057,352.494,265.309,360.512,172.194,350.941z')
      path(style='fill:#DE0A17;', d='M169.88,377.49h-19.884c0.439,16.687,0.878,31.347,0.878,46.582c0,11.609-0.439,25.245-0.439,38.881\
      c0,9.007-2.058,16.603-6.228,23.406c4.671,2.278,9.425,4.409,14.252,6.395c7.147-8.652,11.212-19.383,10.982-32.841\
      c-0.293-11.034-0.293-25.245-0.293-35.84C169.148,408.252,169.441,392.871,169.88,377.49z')
      path(style='fill:#DE0A17;', d='M303.762,405.64l-12.048,35.694c-2.173,6.531-3.772,12.769-5.224,19.007h-1.306\
      c-1.014-6.384-2.466-12.184-4.932-19.007l-3.918-11.463c-2.905-8.119-5.371-16.687-7.544-24.952l-20.02,2.466l27.857,72.255\
      l14.367-1.452l16.969-43.959c3.344-8.558,7.69-18.725,11.755-27.721L303.762,405.64z')
      path(style='fill:#DE0A17;', d='M359.664,404.908c-8.119,0-17.408,1.745-29.738,8.568l3.187,11.316l1.16,0.721\
      c7.983-5.799,15.099-8.558,20.605-8.558c7.398,0,12.915,4.932,12.915,12.779v6.374c-31.775,4.796-39.612,14.66-39.612,26.122\
      c0,12.048,8.568,18.568,18.139,18.568c7.983,0,14.942-4.786,21.191-10.01l1.296,0.293c1.296,6.52,5.601,8.986,10.365,9.383\
      c2.079-1.139,4.148-2.309,6.186-3.511v-49.403C385.358,412.317,376.215,404.908,359.664,404.908z M367.794,461.939\
      c-5.214,4.504-9.571,6.823-13.49,6.823c-4.932,0-8.997-3.187-8.997-9.435c0-6.677,4.493-11.609,22.486-14.221V461.939z')
      path(style='fill:#DE0A17;', d='M215.009,404.919c-8.119,0-17.408,1.735-29.748,8.558l3.197,11.316l1.16,0.731\
      c7.983-5.81,15.088-8.568,20.605-8.568c7.398,0,12.915,4.932,12.915,12.769v6.384c-31.775,4.796-39.612,14.66-39.612,26.122\
      c0,12.048,8.558,18.568,18.139,18.568c7.973,0,14.942-4.786,21.18-10.01l1.306,0.293c1.452,7.398,6.823,9.582,12.33,9.435\
      c1.358,0,2.779-0.167,4.211-0.47v-52.496C240.692,412.317,231.549,404.919,215.009,404.919z M223.138,461.939\
      c-5.224,4.504-9.582,6.823-13.5,6.823c-4.932,0-8.997-3.197-8.997-9.435c0-6.677,4.504-11.609,22.497-14.221V461.939z')
